<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="RedlinkDB" providerName="Npgsql" connectionString="Host=localhost;Port=5431;Database=redlink-local-db;Username=root;Password=root;"/>
  </connectionStrings>
</configuration>